{% extends 'homeapp/base.html' %}

{% load static %}

{% block content %}

<div class="container">
    <div class="row position">
        {% for resu in resuqueryfotos %}

        <div class="col-xs-12 col-sm-12 col-lg-6 col-xl-4 col-md-6 cardrespo">
            <div class="card my-5 img2" style="width: 20rem; height: 20rem;">
                <img class="card-img-top " src="{{resu.image.url}}" alt="Card image cap">
                <div class="card-body text-center">
                    <p>{{resu.title}}</p>
                </div>
                <a class="btn btn-outline-dark btn-sm button" href="{% url 'View' resu.id %}">View</a>
            </div>
        </div>
        {% endfor %}

    </div>
    <!--row-->
</div>

{% endblock %}