{% extends 'homeapp/base.html' %}

{% load static %}

{% block content %}
<div class="container-fluid">
    <div class="row justify-content-center mx-auto ">
        <div class="col-xl-12 col-sm-12 col-xs-12">
            <a href="{% url 'Photos' %}" class="btn btn-dark buttonview">Go Back!</a>
            <div class="vistahtml">
                <img class="mx-auto d-block mt-5 " src="{{resuqueryfoto.image.url}}" alt="gato">
                <p class="text-center title">{{resuqueryfoto.title}}</p>
            </div>
        </div>
    </div>
</div>

{% endblock %}