{% extends 'homeapp/base.html' %}

{% load static %}

{% block content %}
<section>
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-md-12 col-lg-12 mt-5">
                <div class="row mb-3 text-center">
                    <a href="#" data-toggle="lightbox" data-gallery="example-gallery"
                        class="col-sm-12 col-md-12 col-lg-4 col-xl-4">
                        <img src="#" class="img-fluid shadow p-3 mb-3 bg-body rounded">
                        <p class="caption">Vienna , December 12 ,1981</p>
                    </a>

                    <a href="#" data-toggle="lightbox" data-gallery="example-gallery"
                        class="col-sm-12 col-md-12 col-lg-4 col-xl-4">
                        <img src="#" class="img-fluid shadow p-3 mb-3 bg-body rounded">
                        <p class="caption">Belgium , January 10 ,1980</p>
                    </a>
                    <a href="#" data-toggle="lightbox" data-gallery="example-gallery"
                        class="col-sm-12 col-md-12 col-lg-4 col-xl-4">
                        <img src="#" class="img-fluid shadow p-3 mb-3 bg-body rounded">
                        <p class="caption">New York , April 1 ,1971</p>
                    </a>
                </div>
                <div class="row mb-4 text-center">
                    <a href="#" data-toggle="lightbox" data-gallery="example-gallery"
                        class="col-sm-12 col-md-12 col-lg-4 col-xl-4">
                        <img src="#" class="img-fluid shadow p-3 mb-3 bg-body rounded">
                        <p>San francisco , April 2 ,1988</p>
                    </a>
                    <a href="#" data-toggle="lightbox" data-gallery="example-gallery"
                        class="col-sm-12 col-md-12 col-lg-4 col-xl-4">
                        <img src="#" class="img-fluid shadow p-3 mb-3 bg-body rounded">
                        <p>Spain , December 12 ,1981</p>
                    </a>
                    <a href="#" data-toggle="lightbox" data-gallery="example-gallery"
                        class="col-sm-12 col-md-12 col-lg-4 col-xl-4">
                        <img src="#" class="img-fluid shadow p-3 mb-3 bg-body rounded">
                        <p>Argentina , June 12 ,1990</p>
                    </a>
                </div>
            </div>
            <!---final md-8-->
        </div>
    </div>
</section>



{% endblock %}