@font-face {
    font-family: 'Mono';
    src: url('/static/homeapp/fonts/SyneMono-Regular.eot');
    src: url('/static/homeapp/fonts/SyneMono-Regular.eot?#iefix') format('embedded-opentype'), url('/homeapp/fonts/SyneMono-Regular.woff2') format('woff2'), url('/static/homeapp/fonts/SyneMono-Regular.woff') format('woff'), url('/static/homeapp/fonts/SyneMono-Regular.ttf') format('truetype'), url('/static/homeapp/fonts/SyneMono-Regular.svg#SyneMono-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: url("/static/homeapp/img/background.jpg") no-repeat;
}

/*++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++NAVBAR+++++++++++++++++++++++++++++*/

.navbar {
    background-color: transparent !important;
}

#navbarNav>ul>li>a {
    font-family: "Mono";
    font-weight: bold;
}

#navbarNav>ul {
    text-align: center;
}

.navbar-nav ml-auto {
    text-align: center;
}

/*++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ HOME +++++++++++++++++++++++++++++*/

.home {
    position: relative;
    top: 200px;
}

/*++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ BOOKS +++++++++++++++++++++++++++++*/

.casa {
    position: relative;
    margin-top: 160px;
    font-family: "Mono";
    font-weight: bold;
    margin-bottom: -70px;
}

/*++++Photos++++++++******************************************************************++++++*/

.vistahtml {
    margin-top: 86px;
    margin-bottom: -102px;
}

.vistahtml img {
    height: 100vh;
    max-width: 100%;
    max-height: 100%;
}

.vistahtml p {
    position: relative;
    top: 20px;
    font-weight: bold;
    font-family: "Mono";
}

.img2 img {
    height: 250px;
    object-fit: cover;
}

.buttonview {
    position: relative;
    top: 100px;
}

.button {
    outline: none;
    border: none;
}

.position {
    margin-top: 40px;
    margin-bottom: -250px;
}

/*++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ FORM +++++++++++++++++++++++++++++*/

.backform {
    position: relative;
    margin-top: 146px;
    background: rgb(3, 2, 2);
    background: -moz-linear-gradient(90deg, rgba(3, 2, 2, 1) 26%, rgba(214, 210, 209, 0.9864320728291317) 100%, rgba(0, 212, 255, 1) 100%);
    background: -webkit-linear-gradient(90deg, rgba(3, 2, 2, 1) 26%, rgba(214, 210, 209, 0.9864320728291317) 100%, rgba(0, 212, 255, 1) 100%);
    background: linear-gradient(90deg, rgba(3, 2, 2, 1) 26%, rgba(214, 210, 209, 0.9864320728291317) 100%, rgba(0, 212, 255, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#030202", endColorstr="#00d4ff", GradientType=1);
    padding: 18px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px;
    margin-bottom: -70px;
}

.backform label {
    color: white;
}

.botcolor {
    background: red;
    border: none;
}

.success {
    color: white;
    text-align: center;
    list-style: none;
    font-weight: bold;
    font-family: "Mono";
    color: red;
    background-color: black;
    box-shadow: yellow;
}

/*++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++FOOTER+++++++++++++++++++++++++++++*/

.footer-top p {
    color: white;
    line-height: 25px;
    font-family: Mono;
}

.footer-top h2, h3 {
    color: white;
    font-family: Mono;
}

.footer-top h2 {
    font-size: 18px;
}

.footer-top {
    background: #111;
    padding: 80px 0;
    position: relative;
    top: 367px;
}

.pie h3 {
    font-family: Mono;
    color: white;
    letter-spacing: 3px;
    margin: 10px 0;
}

.pie2 {
    color: white;
    text-transform: uppercase;
}

.pie2 h2::before {
    content: '|';
    color: red;
    padding-right: 10px;
}

.pie2 ul {
    list-style: none;
}

.pie2 ul li {
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    line-height: 40px;
}

.pie2 ul li a {
    font-family: Mono;
    color: white;
}

.pie3 h2 {
    color: white;
    font-family: Mono;
    text-transform: uppercase;
}

.pie3 h2::before {
    content: '|';
    color: red;
    padding-right: 10px;
}

.pie3 a {
    background: #494848;
    width: 40px;
    height: 40px;
    display: inline-block;
    border-radius: 50%;
}

.pie3 a i {
    font-size: 20px;
    color: white;
    padding: 10px 12px;
}

.pie4 h2 {
    color: white;
    font-family: Mono;
    text-transform: uppercase;
}

.pie4 h2::before {
    content: '|';
    color: red;
    padding-right: 10px;
}

.pie4 form input[type=submit] {
    background: grey;
    font-family: Mono;
    border: none;
    padding: 3px 15px;
    height: 28px;
    margin-left: -5px;
    color: white;
}

.footer-bottom-text {
    text-align: center;
    background: #000;
    line-height: 75px;
    color: white;
    margin-top: 367px;
    margin-bottom: 0;
}

/*++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ MEDIA +++++++++++++++++++++++++++++*/

@media only screen and (min-width: 360px) and (max-width: 575px) {
    body {
        background: url("/static/homeapp/img/background.jpg") no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }
    .homephoto {
        margin-bottom: 52px;
    }
    #navbarNav>ul {
        background: black;
    }
    #navbarNav ul li a {
        color: white;
    }
    .media2-sm img {
        position: relative;
        top: -10px
    }
    .media2-sm2 a {
        margin-top: -11x;
        margin-bottom: 24px;
    }
    .card {
        margin: auto;
        margin-bottom: 20px;
    }
    .img2 {
        margin: auto;
    }
    .vistahtml img {
        margin-top: 111px !important;
        height: 38vh;
    }
    .footer-top {
        background: #111;
        padding: 21px 0;
        position: relative;
        top: 393px;
    }
    .footer-bottom-text {
        text-align: center;
        background: #000;
        line-height: 75px;
        color: white;
        margin-top: 219px;
        margin-bottom: 0;
    }
    .pie2 h2::before {
        content: '|';
        color: red;
        padding-right: 3px;
        margin-left: -6px;
    }
    .pie3 h2::before {
        content: '|';
        color: red;
        padding-right: 3px;
        margin-left: -6px;
    }
    .pie4 h2::before {
        content: '|';
        color: red;
        padding-right: 3px;
        margin-left: -6px;
    }
}

/*+++++++++++++++++++++++++++++++++++++++++++++++++++++++............................++++++++++*/

@media (min-width: 576px) and (max-width: 767.98px) {
    body {
        background: url("/static/homeapp/img/background.jpg") no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }
    .homephoto {
        margin-top: 17px;
    }
    #navbarNav>ul {
        background: black;
    }
    #navbarNav ul li a {
        color: white;
    }
    #navbarNav {
        position: relative;
        margin-left: -16px;
        margin-right: -16px;
    }
    .casa {
        margin: auto;
        width: 60%;
        margin-top: 151px;
        margin-bottom: -149px;
    }
    .card {
        margin-bottom: 10px;
    }
    body>footer>div>div>div>div.col-md-3.col-sm-6.col-xs-12.pie4.media1-md.media2-sm.margenpie>form>input.suscribe {
        margin-left: 1px;
    }
    body>div>div>div:nth-child(3)>div>div>div {
        margin: auto;
    }
    .cardrespo .img2 {
        margin: auto;
    }
    .footer-top {
        position: relative;
        top: 400px;
    }
    .footer-bottom-text {
        position: relative;
        top: 33px;
        margin-bottom: 0;
    }
    .buttonview {
        background: black;
        color: white;
    }
    .title {
        color: black;
    }
    .vistahtml img {
        margin-top: 111px !important;
        height: 50vh;
    }
    .backform {
        margin: auto;
        margin-top: 181px;
    }
    body>footer>div>div>div>div.col-md-3.col-sm-6.col-xs-12.pie4.media1-md.media2-sm.margenpie>form>input[type=submit]:nth-child(2) {
        margin-left: 1px;
    }
    .pie2 h2::before {
        content: '|';
        color: red;
        padding-right: 3px;
        margin-left: -6px;
    }
    .pie2 h2::before {
        content: '|';
        color: red;
        padding-right: 3px;
        margin-left: -6px;
    }
    .pie3 h2::before {
        content: '|';
        color: red;
        padding-right: 3px;
        margin-left: -6px;
    }
    .pie4 h2::before {
        content: '|';
        color: red;
        padding-right: 3px;
        margin-left: -6px;
    }
}

/*+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .media1-md {
        margin-bottom: 30px;
    }
    .pie4 form input[type=submit] {
        margin-left: 0;
    }
    #navbarNav>ul {
        background: black;
    }
    #navbarNav ul li a {
        color: white;
    }
    #navbarNav {
        position: relative;
        margin-left: -16px;
        margin-right: -16px;
    }
    .position {
        margin-top: 68px;
    }
    .title {
        color: black;
    }
    .book3 {
        position: relative;
        top: 50px;
    }
    .casa {
        margin-left: 18px !important;
    }
    .buttonview {
        background: black;
        color: white;
        margin-left: -1px;
    }
    .vistahtml img {
        margin-top: 120px !important;
        height: 70vh;
    }
    .backform {
        margin-top: 126px;
        margin-bottom: -150px;
    }
    .footer-top {
        position: relative;
        top: 395px;
    }
    .pie2 h2::before {
        content: '|';
        color: red;
        padding-right: 3px;
        margin-left: -6px;
    }
    .pie3 h2::before {
        content: '|';
        color: red;
        padding-right: 3px;
        margin-left: -6px;
    }
    .pie4 h2::before {
        content: '|';
        color: red;
        padding-right: 3px;
        margin-left: -6px;
    }
}

/*++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/

@media (min-width: 992px) and (max-width: 1199.98px) {
    * {
        margin: 0;
    }
    .homephoto {
        margin-top: -9px;
        margin-bottom: 118px;
    }
    .media2-sm {
        margin-bottom: 30px;
    }
    .footer-top {
        margin-top: -8%;
        padding: 50px 0;
    }
    .img2 {
        margin: auto;
    }
    .backform {
        margin-top: 78px;
    }
    .title {
        color: black;
    }
    .buttonview {
        background: black;
        color: white;
        margin-left: 73px;
    }
    body>footer>div>div>div>div.col-md-3.col-sm-6.col-xs-12.pie4.media1-md.media2-sm.margenpie>form>input[type=submit]:nth-child(2) {
        margin-left: 1px;
    }
    .vistahtml img {
        margin-top: 120px !important;
        height: 70vh;
    }
    .pie2 h2::before {
        content: '|';
        color: red;
        padding-right: 3px;
        margin-left: -6px;
    }
    .pie3 h2::before {
        content: '|';
        color: red;
        padding-right: 3px;
        margin-left: -6px;
    }
    .pie4 h2::before {
        content: '|';
        color: red;
        padding-right: 3px;
        margin-left: -6px;
    }
}

/*++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/

@media(min-width:1200px) {
    .casa {
        margin-top: 88px;
    }
}